@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Google Fonts */
body {
  font-family: "Montserrat", sans-serif;
}

/* If you're using local fonts, it would look like this */
@font-face {
  font-family: "Montserrat";
  src:
    url("/assets/fonts/montserrat.woff2") format("woff2"),
    url("/assets/fonts/montserrat.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 30px;
    background: #f3f3f3;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);
    border-radius: 100vh;
    border: 1px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
  }

  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
